<h1><%= @park.name %></h1>



<h3><%= link_to "Check-in to Park", new_park_visit_path(@park)%></h3>
<% user_dog_visits_at_park(@park).each do |visit| %>
    <h3><%= link_to "Check #{visit.dog.name} Out of Park", edit_visit_path(visit)%></h3>
<% end %>

<br>
<br>
<%= "Current Visitors: #{count_dogs_at_park(@park)}" %>
<br>
<br>
<%= link_to "See Who's At Park", park_visits_path(@park) %>
