<h1><%= @dog.name + "'s Showpage" %></h1>

<p>Age: <%= @dog.age %></p>
<p>Breed: <%= @dog.breed %></p>
<p>Size: <%= @dog.size %></p>
<p>Disposition: <%= @dog.disposition %></p>
<p>Favorite Toy: <%= @dog.favorite_toy %></p>
<p>Favorite Game: <%= @dog.favorite_game %></p>
