<h1><%= @dog.name + "'s Showpage" %></h1>

<% if @dog.user == current_user %>
    <h3><%= link_to "Edit Dog", edit_dog_path(@dog)%></h3>
<% end %>

<p>Age: <%= @dog.age %></p>
<p>Breed: <%= @dog.breed %></p>
<p>Size: <%= @dog.size %></p>
<p>Disposition: <%= @dog.disposition %></p>
<p>Favorite Toy: <%= @dog.favorite_toy %></p>
<p>Favorite Game: <%= @dog.favorite_game %></p>
